# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# properties file
*.properties

# settings file
*/settings.xml

# classpath and eclipse files
*/.classpath
*/.settings/
*/.project
.metadata

# maven Package
*/target/
*/pom.xml.releaseBackup

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/pdf4me-clientapi-java/v16/.suo
